* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}

.container {
    font-size: 1.5rem;
    margin: 50px auto;
    letter-spacing: 1px;
    text-align: center;
    max-width: 800px;
    background-color: greenyellow;
}

.container p {
    font-weight: bold;
}

.opis {
    font-size: 2rem;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}


.produkty {
    margin: 50px auto;
    max-width: 800px;
    overflow: hidden;
    text-align: center;
    display: flex;
}

.obrazek {
    flex: 0 0 30%;
}

.pojemnik {
    width: 100%;
    display: block;
}

.content {
    flex: 1;
    background: #fff;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
}

.produkt-opis {
    font-size: 0.9rem;
}


.szczegol {
    display: flex;
    margin-top: auto;
}

.szczegoly {
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

nav {
    max-width: 1440px;
    margin: 30px auto;
    text-align: right;
}

nav a {
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    padding: 10px;
    margin: 0 20px;
}

nav a.login {
    padding: 10px 30px;
    border: 2px solid #555;
    margin-right: 50px;
    margin-left: 80px;
    font-size: 2.2rem;
    letter-spacing: 1px;
    transition: .2s;
}

nav a:hover {
    /*border-bottom: 2px solid #9acd32;*/
    color: yellowgreen;
}

header {
    height: 15vh;
    background-image: url('images/img4.jpg');
    background-size: cover;
}

header h1 {
    font-size: 3.2rem;
    color: white;
    text-align: center;
    line-height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

header h1:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    color: ghostwhite;
}

main {
    max-width: 1440px;
    margin: 5vh auto;
    font-size: 0;
}

div.feature:hover {
    background-color: rgb(154, 205, 50);
    transition: 0.3s;
    color: gray;
}

main p.description {
    font-size: 2.2rem;
    text-align: center;
    margin: 30px 60px 0 60px;
    line-height: 180%;

}

p.kalkulator {
    font-size: 2.2rem;
    text-align: center;
    padding-top: 100px;
    margin 0 30px 50px 30px;
    line-height: 180%;
}

main div.feature {
    display: inline-block;
    width: 33.33%;
    text-transform: uppercase;

}

main h2 {
    font-size: 2rem;
    text-align: center;
    color: #222;
    text-decoration: none;
    color: black;

}

table {
    font-size: 2rem;
    text-align: center;
    color: black;
    margin: 0 auto;
    width: 70vw;
}

th {
    background-color: greenyellow;
    color: white;
}


main h3 {
    font-size: 4rem;
    text-align: center;
    padding: 50px 0 20px 0;
    color: #222;
}

main a {
    text-decoration: none;
}
